<ion-header>
  <ion-navbar>
    <ion-title>
      Viagem c/hotel
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <div padding>
    <h1>{{movie.title}}</h1>
  </div>

  <ion-list>
    <ion-item>
      <ion-icon name="logo-euro" item-start> </ion-icon>
      <h2>preço</h2>
      <p item-right> {{movie.runtime}} </p>
    </ion-item>
    <ion-item>
      <ion-icon name="clipboard" item-start> </ion-icon>
      <h2>Descrição</h2>
      <p item-end> {{movie.genre}} </p>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
		<ion-item>
      <ion-icon name="add" item-start> </ion-icon>
      <h2>Nºnoites no hotel</h2>
		<ion-input type="text" [(ngModel)]="quantidade"></ion-input>
		</ion-item>
		
		
		
		
      <ion-icon name="ios-moon" item-start> </ion-icon>
      <button full (click)="adicionar(click)">Adicionar</button> 
	  <button full (click)="retirar(click)">Cancelar</button>  
	  
    </ion-item>

	
  </ion-list>
</ion-content>
