<ion-header>
  <ion-navbar>
    <ion-title>
      Wishlist
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
  
	
	   <button ion-button type = "text" full round (click) = "apagar()">Cancelar Viagens</button> <button ion-item *ngFor="let movie of this.movies" (click)="openMovieDetail(movie)"> 
      <ion-thumbnail item-start class="movie-cover">   
	    
        <img src="{{ movie.thumb }}">
      </ion-thumbnail>
      <h2>{{movie.title}}</h2>
      <p>{{movie.runtime}}</p>
	   <p>{{movie.watched}}</p>
		 <button ion-button full round type="button">Check Detail</button> 
        </button>
		  


	<button ion-button type = "text" full round (click) = "pagar()">Confirmar Pagamento</button> 
	

	
  </ion-list>
</ion-content>
