<ion-header>
  <ion-navbar>
    <ion-title>Adicionar destino</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <form [formGroup]="movieForm" >
    <ion-item>
      <ion-icon name="map" item-start> </ion-icon>
        <ion-label>Nome do local</ion-label>
        <ion-input formControlName="title" type="text"></ion-input>
        <ion-icon name="alert" class="error" item-end *ngIf="!movieForm.controls.title.valid && submitAttempt"> </ion-icon>
    </ion-item>

    <ion-item>
        <ion-icon name="logo-euro" item-start> </ion-icon>
        <ion-label>preço</ion-label>
        <ion-input formControlName="title" type="text"></ion-input>
        <ion-icon name="alert" class="error" item-end *ngIf="!movieForm.controls.watched.valid && submitAttempt"> </ion-icon>
    </ion-item>

    <ion-item>
      <ion-icon name="image" item-start> </ion-icon>
      <ion-label>Imagem do sitio</ion-label>
      <ion-input formControlName="thumb" type="text"></ion-input>
      <ion-icon name="alert" class="error" item-end *ngIf="!movieForm.controls.thumb.valid && submitAttempt"> </ion-icon>
    </ion-item>

    <ion-item>
      <ion-icon name="quote" item-start> </ion-icon>
      <ion-label>Descrição</ion-label>
      <ion-input formControlName="title" type="text"></ion-input>
      <ion-icon name="alert" class="error" item-end *ngIf="!movieForm.controls.genre.valid && submitAttempt"> </ion-icon>
    </ion-item>

    <!-- Missing input for movie Director -->

    <!-- Missing input for movie Stars -->

    <!-- Missing input for movie Genre -->

    <div padding>
      <button ion-button type="submit" full round (click)="saveMovie()">Adicionar local</button>
    </div>
  </form>

</ion-content>
