<ion-header>
  <ion-navbar>
    <ion-title>Procura</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-searchbar [(ngModel)]="searchQuery" (ionInput)="onSearchInputChanged($event)"></ion-searchbar>

  <ion-list>
    <ion-item-sliding *ngFor="let movie of this.movies">
      <ion-item detail-push (click)="openMovieDetail(movie)">
        <ion-thumbnail item-start class="movie-cover">
          <img src="{{ movie.thumb }}">
        </ion-thumbnail>
        <h2>{{ movie.title }}</h2>

      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="primary" (click)="addWish(movie)">
          <ion-icon name="film"></ion-icon>
          Add Wish
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  
  <ion-fab right bottom>
    <button ion-fab (click)="openMovieAdd(movie)">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
